body {
    font-family: 'open_sansregular';
    margin: 0;
}


#navbar li {
    float: left;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #4d7fb0; */
    background-color: #4679a9;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#proof_wrapper {
    font-size: 1vw;
    height: 95%;
    overflow: auto;
    background: white;
    float: left;
    scrollbar-width: thin;
    scrollbar-color: #bcbcbc white;
}

.proofstep_graphs > table {
    margin: auto; /* center graphs */
    /* border: 1px solid black; */
}

.proofstep_graphs tr td {
    /* border: 1px solid black; */
    padding: 5 20 0 0;
}

.proofstep_graphs {
    overflow: auto;
    scrollbar-color: #bcbcbc white;
    scrollbar-width: thin;
}

.proofstep-wrapper {
    background: white;
    padding:  0 2% 0 2%;
    margin: 0;
}

.proofstep:hover {
    background-color: #f7f7f7;
}

.proofstep {
    width: 100%;
}

.proofstep-title {
    margin: 20 0 0 0;
    font-size: 1vw;
    border-bottom: 1px solid gray;
}

.proofstep-text {
    font-size: 0.8vw;
    padding: 20 0 10 0;
    margin: 0;
}

#proof_title {
    /* margin: 20 0% 20 1%; */
    /* font-size: 16px; */
    /* color: #434343; */
}


#oracle_wrapper {
    padding: 10px;
    font-size: 0.8vw;
    height: 93%;
    border: 0.5px solid gray;
    overflow: auto;
    background: white;
    /* float: left; */
    scrollbar-width: thin;
    scrollbar-color: #bcbcbc white;
}

.package_def_container {
    overflow: auto;
    margin: 0 0 20 0;
}

.oracle-container {
    padding: 0 30 20 0;
    float: left;
}

.oracle-title {
    border-bottom: 1px solid #333;
    margin: 10 0 7 0;
}

.package_def_title {
    font-size: 1vw;
    border-bottom: 4px double #333;
    padding: 0;
    margin: 0;
}

.pcode-oracle-call {
    display: inline;
}

.pcode-oracle-line {
    margin: 5 0 0 0;
}

.pcode-oracle-call:hover {
    border: 2px solid #4d7fb0;
}

pcode-annotated-line:hover {
    border: 2px solid #4d7fb0;
}


@keyframes highlight {
    0% {
        /* background: #c3d7ee; */
	background: #d9e8f9;
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 2s;
}

.game-title {
    padding: 20 0 0 0;
    font-size: 0.9vw;
}

.border-highlight {
    border: 2px solid #4d7fb0;
}

.inlining-oracle-container {
    font-size: 0.8vw;
    display: inline-block;
    padding: 0 30 20 0;
}

.inlining-container {
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #bcbcbc white;
    overflow-y: auto;
    /* padding: 0 0 0 5%; */
    border: 1px solid #333;
}

.inlining-btn {
    margin: 20 0 0 0;
}

.inlining-table table, th, td {
    white-space: nowrap;
    /* border: 1px solid black; */
}

.inlining-table td {
    padding: 0 30px 0 0;
}

/* .inlining-table thead td { */
/*     border-bottom: 1px solid #333; */
/* } */

.game-title {
    font-size: 0.8vw;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #ebf2fa;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 500px 0 150px;
  width: 500px;

  position: absolute;
  z-index: 1;

  /* bottom: 100%; */

  /* top: -5px; */
  top: 400px;
  /* left: 105%; */
  left: -190px;

  /* margin-left: -200%; */
  /* margin-left: 200%; */
  /* margin-bottom: -400%; */

  font-size: 11pt;
  opacity: 0;
  transition: opacity 0.25s;
  border: 2px solid #4d7fb0;
}
